@import "../colors.scss";
@import "../fonts.scss";

@mixin code {
  background-color: $light-grey-color;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  border: 1px solid $grey-color;
  font-family: $monospace-font;
  color: #d94a91;
  white-space: nowrap;
}
