@import "../fonts.scss";
@import "../colors.scss";
@import "~normalize-scss/sass/normalize";

html {
  height: 100%;
  margin: 0;

  body {
    background-color: $light-grey-color;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    margin: 0;

    .bodyContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;

      .body {
        font-family: $body-font;
        font-size: 1.2em;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        flex: 0 1 auto;
        margin-bottom: 20px;

        .error {
          background-color: $red-color;
          color: $white-color;
          text-align: center;
          width: 100%;
          max-width: 500px;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        }
        .content {
          margin-left: auto;
          margin-right: auto;
          max-width: 900px;
        }
      }
    }
  }
}
