.container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .artist {
    margin-bottom: 30px;
  }

  .searchButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    .searchIcon {
      margin-right: 5px;
    }
  }
}
