$red-color: #ba0106;
$black-color: #000000;
$white-color: #ffffff;
$light-grey-color: #eeeeee;
$grey-color: #cccccc;
$dark-grey-color: #727272;
$very-dark-grey-color: #434343;
$error-color: $red-color;
$info-color: #0007c9;
$light-blue-color: #c4c5ff;
$light-yellow-color: #ece49e;
$light-red-color: #ffc7c4;