@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans|PT+Mono:400&display=swap");

$body-font: "Fira Sans", Roboto, Helvetica, Arial, sans-serif;
$headline-font: "Cormorant Garamond", Garamond, serif;
$monospace-font: "PT Mono", "Courier New", "Courier", monospace;
